.currency-find-instrument-card{
    height: 142px;
}

.button-styling{
    display: inline !important;
    float: left !important;
}
.modal-header-fix{
    max-height: 50px !important;
}
.fix-modal-dropdown{
    font-size: 1.25rem !important;
}
.fix-line-height{
    line-height: 1.5 !important;
}