@import '../../styles/theme';
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins/breakpoints";


#table-section .active-table-button {
    text-decoration: underline !important;
    width: unset !important;
}
.devisen-overview-page {
    .market-overview-section {
        .market-section-heading {
            h1 {
                font-size: 20px !important;
                padding-bottom: 1rem !important;
            }
        }
    }
}

@media screen and (max-width: map-get($grid-breakpoints, md) - 1) {
    .devisen-overview-page {
        .market-overview-section {
            .market-section-heading {
                h1 {
                    font-size: 24px !important;
                }
            }
        }
    }
}
