@import 'src/styles/theme';
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins/breakpoints";

.text-opacity-white{
    color: rgba(255, 255, 255, 0.43) !important;
}

.overview-new-banner{
    padding: 16px 48px !important;
    height: 510px;
    @media screen and (max-width: map-get($grid-breakpoints,xl) - 1){
        padding: 16px 34px !important;
        height: 450px;
    }
    @media screen and (max-width: map-get($grid-breakpoints,md) - 1){
        padding: 14px 23px !important;
        height: 460px;
    }
}

.fs-30px{
    font-size: 30px;
}