.broker-card{
    .dropdown-menu{
        top: 10px !important;
    }
    height: 24px;
    border-radius: 0.3em;
    .single-line{
        font-size: 15px !important;
        padding-top: 2px;
        padding-bottom: 2px;
    }
    .toggle-icon{
        width: 20px !important;
    }
    .btn.btn-inline-blue-dropdown .title.single-line{
        color: #383838 !important;
    }
}